<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar')%>

        <div class="section">
            <div style="font-size: 24px; font-weight: bold;"> <%= project.title %> </div>
            <div style="font-size: 18px; margin-top: 10px;"> <%= project.detail %> </div>
            <div style="font-size: 13px; text-align: left; margin-top: 10px;"> 수정 &nbsp 삭제</div>
            <hr style="margin-top: 5px;">
            <div style="width: 100%; height: 200px; background-color: lightgray;" ></div>
            <p style="margin-top: 20px; text-align: left; color: black; font-size: 15px;"><%= project.content %></p>
            <hr>

                
        </div>
 
        <%- include('partials/footer')  %>
    </body>
</html>