<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div class="section">
            <div class="header">
                <h1> My page </h1>
                <h2> 관리 페이지</h2>   
            </div>

            <div class="profile-section">
                <div class="profile-info">이름: <%= user.name %></div>
                <div class="profile-info">이메일: <%= user.email %></div>

            </div>


            <ul class="nav nav-tabs">
                <li role="presentation" id="my-item-btn" class="active"><a href="#">내가 만든 프로젝트</a></li>
                <li role="presentation" id="join-item-btn"><a href="#">내가 참여중인 프로젝트</a></li>
                <li role="presentation"><a href="#">완료한 프로젝트</a></li>
            </ul>
            

            <div id="my-item">
                <% if (items !== null){items.forEach((item)=>{ %>
                    <% if(item.user == user.email) { %>
                        <div class="list-group" style="margin-bottom: 0px !important;">
                            <a href="/items/<%= item.itemId %>" class="list-group-item">
                                <h4 class="list-group-item-heading"><%= item.name %> </h4>
                                <p class="list-group-item-text"><%= item.detail %></p>
                            </a>
                        </div>
                    <% } %>
                <%  })} %>
            </div>

            <div id="join-item">
                <% if (items !== null){items.forEach((item)=>{ %>
                    <% item.applies.forEach((apply)=>{ %>
                        <% if (apply.author == user.email && apply.status == "matched"){ %>
                            <div class="list-group" style="margin-bottom: 0px !important;">
                                <a href="/items/<%= item.itemId %>" class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= item.name %> </h4>
                                    <p class="list-group-item-text"><%= item.detail %></p>
                                </a>
                            </div>     
                        <% } %>
                    <% }) %> 
                <%  })} %>
            </div>
        </div>
    </body>
</html>


<script>   
    $(document).ready(()=>{
        $("#join-item").hide();
    })
    
    $("#my-item-btn").click(()=>{
        $("#my-item-btn").addClass('active');
        $("#join-item-btn").removeClass('active');
        $("#my-item").show();
        $("#join-item").hide();
    })

    $("#join-item-btn").click(()=>{
        $("#join-item-btn").addClass('active');
        $("#my-item-btn").removeClass('active');
        $("#join-item").show();
        $("#my-item").hide();
    })

</script>