<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div class="align-center">
            <div class="show-section">
                <div class="item-name"> <%= item.name %></div>
                <div class="item-comment"> <%= item.comment %></div>

                <hr>
                <div class="item-detail"> <%= item.detail %></div>
            </div>
        </div>

    
    </body>
</html>